body{
    font-family:  Helvetica, sans-serif;
    background-color:#27282d ;
    color:#fbefdf;
    max-width:10000px;
    min-width:1250px;
}
header{
    padding: 5%;
    margin: 0px;
    border-radius: 50px;

}
footer{
    padding: 5%;
    margin: 0px;


}

h1{
    text-align:center;
}
h2{
    text-align:center;
}
/*Hr Shop*/
.hrShop{
    position: relative;
    border-radius: 2px;
    height: 2px;
    width: 750px;
    margin-bottom: 30px;
}
.hrt {
    position: relative;
    border-radius: 2px;
    height: 2px;
    background-color: #fbefdf;
    width: 70%;
    margin-bottom: 4%;
}
.hrb{
    position: relative;
    border-radius:2px;
    height: 2px;
    background-color: #fbefdf;
    width: 70%;
    margin-top: 4%;
}
aside{
    float: left;
    width: 150px;
    margin: 0;
    padding: 5%;
}


/* Navigation menu */
nav li{
    float: left;
    font-size: 20px;
}

nav li a{
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    color: #fbefdf;
    font-weight: bold;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 0;
    overflow: hidden;
}
nav li a:hover{
    border-radius:3%;
    text-decoration: none;
    background-color:#fbefdf;
    color: #444444;
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
.paragraph{
    padding-top: 10px;
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 25px;
}
.main_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 500px;
}
.row {
    margin-left:200px;
    margin-right:200px;
}
.column {
    float: left;
    width: 50%;
    padding: 30px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.tableCom, .tableBuilds {
    border-collapse: collapse;
    padding: 1px;
    color:black;
    margin: 0 auto;
    text-align:center;

    height: 300px;
}
.tableCom{
    width: 60%;
}

.colum1{
    background-color:#8d6852 ;
    width:130px;
    text-align:center;
}
.colum2{
    background-color:#8d6852 ;
    width:300px;
    text-align:center;
}
.colum3{
    background-color:#8d6852 ;
    width:130px;
    text-align:center;
}
.trThTd{
    background-color: #fbefdf;
    border: 1px solid black;
}
.copyr{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    position: absolute;
    margin-left: max(250px, 20%);

    transform: translate(-50%);

    width: 95px;
    height: auto;

}
/* TABLE SHOP */
.shopTable{
    padding-top: 10px;
    padding-bottom: 10px;
    border-collapse: collapse;
    margin: 0 auto;
    text-align:left;
    width: 700px;
}

.shopTdPrice{
    text-align:center;
    width: 150px;
    vertical-align: auto;
    font-size: 35px;
}
.shopTd{
    font-size: 30px;

}
.shopDesc{
   color:#c0c0c0;
}
/*Shop Name*/
.shopTableName{
    font-weight: bold;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-collapse: collapse;
    margin: 0 auto;
    text-align:left;
    width: 700px;
}
.shopNamePrice{
    width: 160px;
    text-align: center;
}

/* NEWS APPRIBUTES */


.img_news{
    width: 200%;
    height: auto;
    max-width: 350px;
}
.row_news{
    width: 950px;

    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: 20px;
    padding-bottom: 20px;
}
.picture_news{
    width: 35%;
    display: block;
    float: left;
}
.intro_news{
    width: 60%;
    display: block;
    float: left;
    margin-left: 30px;
}
.clear{
    width: 100%;
    clear: both;
}
.intro_link{
    font-weight: bold;
    font-size: 25px;
    margin-top: -2px;
    color:#fbefdf;
    text-decoration: none;
}
.newsData{

    float: right;
    margin-right: 100px;
    margin-top: 15px;
    color:#c0c0c0;
}
.newsContent{
    font-size: 18px;
    width: 70%;
    color:#c0c0c0;
}
/* OTEHR APPRIBUTES - Saate sia edasi lisada */

.container{
    width: 80%;
    max-width: 1280px;
    background: #27282d;
    padding: 10px;
    margin: 0 auto;
}


