body{
    font-family:  Helvetica, sans-serif;
    background-color:#27282d ;
    color:#fbefdf;
    min-width:1250px;
}
header{
    padding: 5%;
    margin: 0px;
    border-radius: 50px;

}
footer{
    padding: 5%;
    margin: 0px;


}

h1{
    text-align:center;
}

.hrt{
    position: relative;
    border-radius:2px;
    height: 2px;
    background-color: #fbefdf;
    width: 70%;
    margin-bottom: 4%;

}
.hrb{
    position: relative;
    border-radius:2px;
    height: 2px;
    background-color: #fbefdf;
    width: 70%;
    margin-top: 4%;
}
aside{
    float: left;
    width: 150px;
    margin: 0;
    padding: 5%;
}



nav li{
    float: left;
    font-size: 20px;

}

nav li a{
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    color: #fbefdf;
    font-weight: bold;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 0;
    overflow: hidden;
}
nav li a:hover{
    border-radius:3%;
    text-decoration: none;
    background-color:#fbefdf;
    color: #444444;
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
.paragraph{
    padding-top: 10px;
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
}
.main_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 500px;
}
.row {
    margin-left:200px;
    margin-right:200px;
}
.column {
    float: left;
    width: 50%;
    padding: 30px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
table {
    border-collapse: collapse;
    padding: 1px;
    color:black;
    margin: 0 auto;
    text-align:center;

    height: 300px;
}
.tableCom{
    width: 60%;
}
.colum1{
    background-color:#8d6852 ;
    width:130px;
    text-align:center;
}
.colum2{
    background-color:#8d6852 ;
    width:300px;
    text-align:center;
}
.colum3{
    background-color:#8d6852 ;
    width:130px;
    text-align:center;
}
tr,th,td{
    background-color: #fbefdf;
    border: 1px solid black;
}
/* NEWS APPRIBUTES */
.clear_news{
    width: 100%;
    clear: both;
}
/*
.container_news{
    width: 80%;
    max-width: 1280px;
    background: #27282d;
    padding: 10px;
}
.container_news{
    margin: 0 auto;
}
*/

.img_news{
    width: 300px;
    height: auto;
}
.row_news{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.picture_news{
    width: 30%;
    display: block;
    float: left;
}
.intro_news{
    width: 70%;
    display: block;
    float: left;
}
.clear{
    width: 100%;
    clear: both;
}


/* OTEHR APPRIBUTES - Saate sia edasi lisada */

.container{
    width: 80%;
    max-width: 1280px;
    background: #27282d;
    padding: 10px;
    margin: 0 auto;
}
/*.main_img
{
    width: 80%;
    max-width: 1280px;
    padding-left: 30%;
    padding-right: 30%;
}*/
/*
.container_news{
    margin: 0 auto;
}*/

