header{
    padding: 5%;
    margin: 0px;
    border: solid 1px gray;
    border-radius: 50px;
  background-color:#B0E0E6;
}
footer{
    padding: 5%;
    margin: 0px;
    border: solid 1px gray;
    border-radius: 50px;
    background-color:#E6E6FA;

}

header h1{
    letter-spacing: 0.2cm;
    text-align: center;
}

aside{
    float: left;
    width: 150px;
    margin: 0;
    padding: 5%;
}

main{
    margin-left:300px;
    border-left:solid 1px gray;
    padding-left: 5%;
}

nav li{

    float: left;
}

nav li a{

    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;

}

nav ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    overflow: hidden;

}

nav li a:hover{

    background-color:#40E0D0;

}
